.container {
  position: relative;
  display: flex;
  flex-flow: row;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;

  .left {
    position: relative;
    order: 2;
    width: 576px;
    overflow-y: auto;

    .lang {
      position: absolute;
      top: 20px;
      right: 24px;
      width: 20px;
      height: 20px;
      text-align: right;
    }

    .main {
      margin-top: 25vh;
      padding: 0 130px;

      .top {
        text-align: center;

        .header {
          height: 56px;
          line-height: 56px;
          text-align: left;

          a {
            text-decoration: none;
          }

          .logo {
            height: 56px;
            margin-right: 16px;
            vertical-align: top;
          }
        }
      }
    }
  }

  .right {
    position: relative;
    display: flex;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    order: 1;
    background: linear-gradient(135deg, #2ec4a0 0%, #1aad8a 40%, #0d9674 100%);
  }
}

.login-image {
  margin-top: calc(100vh - 668px);
}

.login-full-image {
  width: 85%;
  max-width: 650px;
  height: auto;
  object-fit: contain;
}

.full-image-front {
  display: none;
}

.login-right-logo {
  display: none;
}
