.license-modal-status {
  display: inline-block;
}

.license-modal-table {
  width: 100%;

  td {
    padding: 8px 0;
    vertical-align: top;
  }

  td:first-child {
    width: 140px;
    color: rgba(0, 0, 0, 45%);
    font-weight: 500;
  }

  td:last-child {
    color: rgba(0, 0, 0, 85%);
  }
}
